.wrapper
	header.main-header
		nav.navbar.navbar-static-top
			.container
				.navbar-header
					a.navbar-brand Android手机应用程序数据展示系统
				.collapse.navbar-collapse.pull-left
					ul.nav.navbar-nav
						li
							a(href='#') 地图数据展示
						li
							a(href='#') 新浪微博数据展示
						li
							a(href='#') 默默数据展示
						li
							a(href='#') 易信地图数据展示
						li
							a(href='#') UC浏览器数据展示