

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
.skin{
    background-color: #3c8dbc !important;
}
.intro-section{
    padding-top: 200px;
}
.only-logo{
    margin-left: 16%;
}
.intro-section>a{
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 0.9;
}