doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		include ../includes/head
	body.skin
		.wrapper
			.container
				.only-logo
					.navbar
						.navbar-header
							img(src="./images/logo.png" alt="")
				.row.home-contents
					.col-md-6.col-sm-6
						.intro-section
							a.btn.btn-info.btn-lg.standard-button(href='./upload' target="_blank") 上传文件
							a.btn.btn-info.btn-lg.standard-button(href='./map' target="_blank") 数据展示
					.col-md-6.col-sm-6.hidden-xs
						.phone-image
							img.img-responsive(src="./images/phone.png" alt="")