doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
		title #{title}
		include ../includes/head
		script(src=src="http://webapi.amap.com/maps?v=1.3&key=5c966df57d471c0bfb13366f2dd50ada" type="text/javascript")
		script(src="/javascripts/map.js")
	body.hold-transition.skin-blue.fixed.sidebar-mini
		.wrapper

			header.main-header
				a.logo(href='#')
					span.logo-lg 毕设作品
				nav.navbar.navbar-static-top
					a.navbar-brand Android手机应用程序数据展示系统

			aside.main-sidebar
				section.sidebar
					ul.sidebar-menu
						li.header 导航
						li.header upload
						li.active
							a(href='/upload')
								i.fa.fa-cloud-upload
								span 数据库文件上传
						li.header display
						li.treeview
							a(href='#')
								i.fa.fa-globe
								span 地图数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/map1')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-user-plus
								span 易信数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/yixin1')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-comments
								span 陌陌数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/momo1')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-weibo
								span 新浪微博数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/sinaweibo1')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-internet-explorer
								span UC浏览器数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/uc1')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
			.content-wrapper
				section.content-header
					h1 地图数据展示
					ol.breadcrumb
						li
							i.fa.fa-dashboard
							| 地图数据展示	
				section.content
					.row
						.col-md-12
							.box.box-primary
								.box-header.with-border
									h3.box-title  地图数据展示
								.box-body
									#container-map1.col-xs-12
			footer.main-footer
				.pull-right.hidden-xs
					b Version
					| 2.3.0
				strong Copyright &copy 2016 重庆邮电大学计算机科学与技术学院  
				|All right reserved.
			.control-sidebar-bg


		