doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		include ../includes/head
	body.hold-transition.skin-blue.fixed.sidebar-mini
		.wrapper

			header.main-header
				a.logo(href='#')
					span.logo-lg 毕设作品
				nav.navbar.navbar-static-top
					a.navbar-brand Android手机应用程序数据展示系统

			aside.main-sidebar
				section.sidebar
					ul.sidebar-menu
						li.header 导航
						li.treeview
							a(href='#')
								i.fa.fa-dashboard
								span 地图数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview.active
							a(href='#')
								i.fa.fa-dashboard
								span 易信数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-dashboard
								span 默默数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-dashboard
								span 新浪微博数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
						li.treeview
							a(href='#')
								i.fa.fa-dashboard
								span UC浏览器数据展示
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v1
								li
									a(href='#')
										i.fa.fa-circle-o
										| Dashboard v2
			.content-wrapper
				section.content-header
					h1 ceshi
					ol.breadcrumb
						li
							i.fa.fa-dashboard
							| 测试	
				section.content
					.row
						.col-md-12
							.box.box-primary
								.box-header
									h3.box-title  ceshi
								.box-body
									table#table.table.table-bordered.table-striped
										thead
											tr
												th 姓名
												th 姓名
												th 姓名
												th 姓名
												th 姓名
										tbody
										tfoot
											tr
												th 姓名
												th 姓名
												th 姓名
												th 姓名
												th 姓名
			footer.main-footer
				.pull-right.hidden-xs
					b Version
					| 2.3.0
				strong Copyright &copy 2016 重庆邮电大学计算机科学与技术学院  
				|All right reserved.
			.control-sidebar-bg


		