<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/libs/AdminLTE.css" rel="stylesheet">
    <link href="/libs/skins.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/app.min.js"></script>
    <script src="/javascripts/jquery.slimscroll.min.js"></script>
  </head>
  <body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
      <header class="main-header"><a href="#" class="logo"><span class="logo-lg">毕设作品</span></a>
        <nav class="navbar navbar-static-top"><a class="navbar-brand">Android手机应用程序数据展示系统</a></nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">导航</li>
            <li class="treeview"><a href="#"><i class="fa fa-dashboard"></i><span>地图数据展示</span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
              </ul>
            </li>
            <li class="treeview active"><a href="#"><i class="fa fa-dashboard"></i><span>易信数据展示</span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
              </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa fa-dashboard"></i><span>默默数据展示</span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
              </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa fa-dashboard"></i><span>新浪微博数据展示</span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
              </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa fa-dashboard"></i><span>UC浏览器数据展示</span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>ceshi</h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>测试	</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title"> ceshi</h3>
                </div>
                <div class="box-body">
                  <table id="table" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>姓名</th>
                        <th>姓名</th>
                        <th>姓名</th>
                        <th>姓名</th>
                        <th>姓名</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                    <rfoot>
                      <tr>
                        <th>姓名</th>
                        <th>姓名</th>
                        <th>姓名</th>
                        <th>姓名</th>
                        <th>姓名</th>
                      </tr>
                    </rfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs"><b>Version</b>2.3.0</div><strong>Copyright &copy 2016 重庆邮电大学计算机科学与技术学院  </strong>All right reserved.
      </footer>
      <div class="control-sidebar-bg"></div>
    </div>
  </body>
</html>