extends ../layout

block content
	.container
		.row
			.col-md-7
				
			.col-md-5
				dl.dl-horizontal
					dt 电影名字
					dd 阿甘正传
					dt 导演
					dd tom
					dt 语言
					dd english
					dt 上映年份
					dd 2016
					dt 简介
					dd 很活泼孤鸿寡鹄 